@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'),
    url('lato/lato-v16-latin-regular.woff2') format('woff2'),
    url('lato/lato-v16-latin-regular.woff') format('woff');
}
